.holder{
  height: 811px;
  background-color: transparent;
  text-align: center;
  font: 50px "Microsoft Yahei";
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table-cell{
  height: 811px;
  vertical-align: middle;
  width: 100%;
  display: table-cell
}
.container{
  /*height: -webkit-fill-available*/
  height: 100%;
  background: url("../../assets/images/地图3.png") no-repeat center;
  background-size: 70% 70%;
  /*opacity: 0.45;*/
}
.con{
  position: absolute;
  top: 55%;
  left: 45%;
  width: 20px;
  height: 20px;
}
.con::before{
  content: ' ';
  position: absolute;
  z-index: 2;
  left: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  background-color: #03d0ee;
  border-radius: 50%;
}
.con::after{
  content: ' ';
  position: absolute;
  z-index: 1;
  background-color: #03d0ee;
  border-radius: 50%;
  animation:ripple;
  /*box-shadow: 0 0 10px rgba(0,0,0,.3) inset;*/
  -webkit-animation-name: 'ripple';
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
}
.address{
  top: 50%;
  font-family: 微软雅黑, 黑体;
  position: absolute;
  right: 5%;
  width: 430px;
  margin-top: -150px;
  height: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 180%;
  padding: 20px 0;
  box-shadow: 0 0 50px #000;
}
@-webkit-keyframes ripple
{
  0%  {
    box-shadow:0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent;
  }
  15%  {
    box-shadow:0 0 0 0 #45c2c5,
    0 0 0 0 rgba(255,255,255,0.4),
    0 0 0 0 #45c2c5,
    0 0 0 0 rgba(0,0,0,0.08);
  }
  100% {
    box-shadow:0 0 40px 200px #45c2c5,
    0 0 10px 210px transparent,
    0 0 30px 220px #45c2c5,
    0 0 5px 230px transparent;
  }
}
@-moz-keyframes rip
{
  0%  {
    box-shadow:0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent,
    0 0 0 0 transparent;
  }
  15%  {
    box-shadow:0 0 0 0 #45c2c5,
    0 0 0 0 rgba(255,255,255,0.4),
    0 0 0 0 #45c2c5,
    0 0 0 0 rgba(0,0,0,0.08);
  }
  100% {
    box-shadow:0 0 40px 200px #45c2c5,
    0 0 10px 210px transparent,
    0 0 30px 220px #45c2c5,
    0 0 5px 230px transparent;
  }
}
