<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>河流可视化解决方案用途</title>
  <link rel="icon" href="<%= context.publicPath %>cat.png" type="image/x-icon">
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=6h4Qxoj5CR2p2cIEY6LPIgN8IzCwSxYR">
  //v3.0版本的引用方式：src="http://api.map.baidu.com/api?v=3.0&ak=您的密钥"
</script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
</body>
</html>
